[submodule "vendor/ManagedObjectModelSerializer"]
	path = vendor/ManagedObjectModelSerializer
	url = git@github.com:contentful/ManagedObjectModelSerializer.git
[submodule "vendor/CLIKit"]
	path = vendor/CLIKit
	url = git@github.com:kylef/CLIKit.git
[submodule "vendor/xcproj"]
	path = vendor/xcproj
	url = https://github.com/neonichu/xcproj.git
[submodule "vendor/DJProgressHUD"]
	path = vendor/DJProgressHUD
	url = https://github.com/danielmj/DJProgressHUD_OSX.git
